{% extends "base.html" %}

{% block content %}


    <body style="background-color:rgb(8, 8, 8);">
        <div class="imgbox">
            <img class="center-fit" src="{{ img }}" alt="test">
        </div>
        <h1>{{ planet_name }}</h1>
        {% if like_status == 1 %}
            <p>&#10084;</p>
        {% elif like_status == -1 %}
            <p>&#128078;</p>
        {% else %}
        {% endif %}


        <p>{{ planet_story }}</p>
        <form class="form" action="#" method="post">
            <input class="button" type="submit" name="action" value="Travel to the next planet">
        </form>
        <form class="form" action="#" method="post">    
            <input class="button" type="submit" name="action1" value="Like">
        </form>
        <form class="form" action="#" method="post">    
            <input class="button" type="submit" name="action2" value="Dislike">
        </form>
        <form class="form" action="#" method="post">    
            <input class="button" type="submit" name="action3" value="Colonize">
        </form>
        <form class="form" action="#" method="post">
            <div class="form-group">
            <label for="exampleInputPassword1">Ask any question about planet {{ planet_name }}:</label>
            <input type="username" class="form-control" name="action4" placeholder="Example: Are there penguins on this planet?">
            </div>
            <button type="submit" name="action4" class="button">Ask question</button>
        </form>
        <p>{{ answer }}</p>
    </body>
{% endblock %}
